openapi: 3.0.4
info:
  title: Warmhouse API
  version: 1.0.0
paths:
  /auth:
    post:
      servers:
        - url: https://auth.warmhouse/api/v1
      tags:
        - auth
      summary: sign in user.
      operationId: signInUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInDto'
      responses:
        '200':
          description: successful operation
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /equipment/{equipmentId}:
    patch:
      servers:
        - url: https://equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Update equipment by id.
      operationId: updateEquipmentById
      parameters:
        - name: equipmentId
          in: path
          description: ID of equipment to return
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEquipmentDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      servers:
        - url: https://equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Get equipment by id.
      operationId: getEquipmentById
      parameters:
        - name: equipmentId
          in: path
          description: ID of equipment to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      servers:
        - url: https://equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Delete equipment by id.
      operationId: deleteEquipmentById
      parameters:
        - name: equipmentId
          in: path
          description: ID of equipment to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /room/{roomId}:
    patch:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Update room by id.
      operationId: updateRoomById
      parameters:
        - name: roomId
          in: path
          description: ID of room to return
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoomDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Get room by id.
      operationId: getRoomById
      parameters:
        - name: roomId
          in: path
          description: ID of room to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Delete room by id.
      operationId: deleteRoomById
      parameters:
        - name: roomId
          in: path
          description: ID of room to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /equipment/user/{userId}:
    get:
      servers:
        - url: https://equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Get list of equipments linked by user.
      operationId: getEquipmentByUserId
      parameters:
        - name: userId
          in: path
          description: ID of equipment owner
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /equipment/home/{homeId}:
    get:
      servers:
        - url: https://equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Get list of equipments linked by home.
      operationId: getEquipmentByHomeId
      parameters:
        - name: homeId
          in: path
          description: ID of equipment home
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /equipment/room/{roomId}:
    get:
      servers:
        - url: https://equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Get list of equipments linked by room.
      operationId: getEquipmentByRoomId
      parameters:
        - name: roomId
          in: path
          description: ID of equipment room
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equipment'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user/{userId}:
    patch:
      servers:
        - url: https://user.warmhouse/api/v1
      tags:
        - user
      summary: Update user by id.
      operationId: updateUserById
      parameters:
        - name: userId
          in: path
          description: ID of user to return
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      servers:
        - url: https://user.warmhouse/api/v1
      tags:
        - user
      summary: Get user by id.
      operationId: getUserById
      parameters:
        - name: userId
          in: path
          description: ID of user to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /user:
    post:
      servers:
        - url: https://user.warmhouse/api/v1
      tags:
        - user
      summary: Create user.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /home:
    post:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Create home.
      operationId: createHome
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHomeDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /room:
    post:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Create room at home.
      operationId: createRoom
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoomDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /home/{userId}:
    get:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Get homes linked by user.
      operationId: getHomeByUserId
      parameters:
        - name: userId
          in: path
          description: ID of user
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Home'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /home/{homeId}:
    patch:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Update home by id
      operationId: updateHomeById
      parameters:
        - name: homeId
          in: path
          description: ID of home
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateHomeDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    get:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Get home by id
      operationId: getHomeById
      parameters:
        - name: homeId
          in: path
          description: ID of home
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Delete home by id.
      operationId: deleteHomeById
      parameters:
        - name: homeId
          in: path
          description: ID of home to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"  
  /home/{homeId}/rooms:
    get:
      servers:
        - url: https://home.warmhouse/api/v1
      tags:
        - home
      summary: Get rooms linked by home
      operationId: getRoomByHomeId
      parameters:
        - name: homeId
          in: path
          description: ID of home
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /equipment:
    post:
      servers:
        - url: https://create-equipment.warmhouse/api/v1
      tags:
        - equipment
      summary: Create equipment.
      operationId: createEquipment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEquipmentDto'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    CreateEquipmentDto:
      type: object
      properties:
        name:
          type: string
          example: 'temperature sensor'
        type:
          type: string
          example: 'sensor'
        roomId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    UpdateEquipmentDto:
      type: object
      properties:
        name:
          type: string
          example: 'temperature sensor'
        state:
          type: object
          example: {"voltage": 220}
        roomId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    Equipment:
      type: object
      properties:
        id:
          type: string
          example: 1cd67467-14c9-4302-8c3c-46c657b12a31
        name:
          type: string
          example: 'temperature sensor'
        type:
          type: string
          example: 'sensor'
        state:
          type: object
          example: {"voltage": 220}
        createdAt:
          type: string
          example: 2025-01-01
        roomId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    SignInDto:
      type: object
      properties:
        email:
          type: string
          example: john@email.com
        password:
          type: string
          example: '12345'
    CreateHomeDto:
      type: object
      properties:
        name:
          type: string
          example: Home1
        villageId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    UpdateHomeDto:
      type: object
      properties:
        name:
          type: string
          example: Home1
    CreateRoomDto:
      type: object
      properties:
        name:
          type: string
          example: Room1
        homeId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    UpdateRoomDto:
      type: object
      properties:
        name:
          type: string
          example: Room1
    CreateUserDto:
      type: object
      properties:
        name:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
    UpdateUserDto:
      type: object
      properties:
        name:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: James
        email:
          type: string
          example: john@email.com
        accessToken:
          type: string
          example: vfevfkmmjjmn5ji4nhgijninini546h
        refreshToken:
          type: string
          example: vfevfkmmjjmn5ji4nhgijninini546h
        createdAt:
          type: string
          example: 2025-01-01
        accessTokenAddedAt:
          type: string
          example: 2025-01-01
        refreshTokenAddedAt:
          type: string
          example: 2025-01-01
    Room:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
        name:
          type: string
          example: Room1
        createdAt:
          type: string
          example: 2025-01-01
        homeId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    Home:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
        name:
          type: string
          example: Home1
        createdAt:
          type: string
          example: 2025-01-01
        villageId:
          type: string
          format: uuid
          example: c5baacb4-e977-4fd1-b9d3-e07aa7edd60e
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required:
        - code
        - message